
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: auto;
    padding: 3rem 0;
    background-color: rgb(0, 0, 63);
    color:aliceblue;
    margin: 0 1rem;

}

.footer-container h2{
    margin-bottom: 1.6rem;
}

.horizontal-divide {
    height: 10rem;
    width: 2px;
    background-color: aliceblue;
}

.footer-brand-image-div img{
    width: 8rem;
    mix-blend-mode: lighten;
    border-style:outset;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
   

}

.footer-address-div img{
    height: 1.4rem;
    font-style: italic;
    margin-right: 1rem;
    display: inline;
    mix-blend-mode:luminosity;
    border-radius: 50%;
}

.footer-address-div div {
    display: flex;
    margin: 0.8rem 0;
}

.footer-links-div a{
    color:aliceblue;
    text-decoration: none;
    padding: 1rem 0;
   
}

.footer-links-div li{
   margin: 0.67rem 0;
}

.footer-links-div a:hover{
    text-decoration: underline;
    color: rgb(106, 144, 255);
    
   
}

/*responsivity*/
@media (max-width:720px) {

    .footer-container {
        flex: 1;
        text-align: center;
        margin: 0;
    }
    .horizontal-divide {
        height: 2px;
        width: 88vw;
        margin: 2rem auto;
    }
    .footer-container li {
        margin: 1rem 0px;
    }
   
    .footer-address-div div {
        margin-right: auto;
        margin-left: auto;
        
    }
    .footer-address-div {
        padding-left: 1rem;
        padding-right: 1rem;
    }
  
}