/*Remove default browser settings*/
* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/*Navbar*/
.dropdown-panel{display: none;}

.nav-container {
    background-color: rgb(16, 42, 118);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: wrap;
}

.nav-container li {

    padding: 25px 10px;
    margin: 0px 5px;
}

.nav-container li a {
    text-decoration: none;
    color:whitesmoke;
    padding: 25px;
    font-size: 1.06rem;
    font-weight: 500;

    

}
.nav-container li:hover{
    background-color: royalblue;
}

.search-bar-container {
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.search-bar {
    display: flex;
    justify-self: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

    height: 1.618rem;
}
.search-icon {
    height: 1.618rem;
    width: 1.618rem;
    border:2px solid rgb(44,44,44);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: url('../images/searchicon.png') no-repeat scroll center center transparent;
    background-size: cover;
    mix-blend-mode: lighten;
    margin-bottom: 3px;
    
   

}

.search-box{
    height: 1.618rem;
    width: 16vw;
    border: none;
    margin-top:2px;
    padding-left: 0.5rem;
    margin-right: -3px;
}

.search-button {
    border:1px solid rgb(44,44,44);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: whitesmoke;
    height: 1.668rem;
    width: 4rem;
    text-align: left;
    padding-left: 0.5rem;
    font-weight: 500;
}

.search-button:hover{
    cursor: pointer;
}

/*responsivity*/

@media (max-width:1000px) {
    .nav-container>li:not(:first-of-type){
        display: none;
    }
   

    .dropdown-menu div {
        width: 28px;
        height: 4.6px;
        background-color: whitesmoke;
        margin: 6px 0;
    }
    .dropdown-menu {
        float:right;
        margin:auto 5vw auto auto;
        display: block;
        padding: 15px 25px;
    }
    .dropdown-menu:hover{
        background-color: royalblue;
        
    }
    .dropdown-panel {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-items: center;
        background-color: rgba(52, 98, 236, 0.8);
        width: 100vw;
        height: 0vh;
        animation: comein 1s forwards;
    }
    .dropdown-panel a{
        padding: 25px 100vw;
        
    }
    .dropdown-panel li {
        display: block;
    }
    #panelSearchBar {
        display: none;
    }
    .search-box{
        width: 44vw;
    }
   
}
@keyframes goout {
    from {
        height: 100vh;
    }
    to{
        height: 0;
    }
}


@media (max-width:640px) {
    .nav-container>.search-bar-container{
        display: none;
    }
    #panelSearchBar {
        margin-left: 25vw;
        display: block;
        animation: comein 0.3s forwards;
        
    }
}
@keyframes comein {
    from {
        height:0;
        display: none;
    }
    to {
        height: 100vh;
        display: block;
    }
}