.event-article-container {
    display: grid;
    column-gap: 10vw;
    grid-auto-rows: auto;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    color:rgb(0,0,63);
    margin-bottom: 6rem;
  
}
.upcoming-events-header {
    margin-bottom:3rem;
    margin-top: 2rem;
}

.event-article-container article:nth-of-type(even){
    margin-top: 6rem;
    margin-bottom: -3rem;
}
.event-article-container article:nth-of-type(odd){
    margin-bottom: -3rem;
}

.event-short-description-new {
    
    margin-bottom: 1rem;
   
    text-overflow: ellipsis;
   
}

.event-showcase-article-new a:hover {
    background-color: aliceblue;
    
    box-shadow: 0 0 10px rgb(11, 37, 184);
    transition:0.6s;
}

.instructions-to-view-details-new {
    font-weight: 700;
    color: rgb(0,0,63);
}

.upcoming-events-new-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color:  #c9dffc;
    padding: 2rem 2rem;
    text-align: justify;
}

.upcoming-events-new-section h2 {
    text-align: center;
}

.event-showcase-article-new {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid rgb(0,0,63);
    border-radius: 3rem;
    width: 37vw;
    margin-top: 3rem;
    margin-bottom: 6rem;
    height: fit-content;
    flex: 1;
    box-shadow: 0 0 10px rgb(0,0,63);
    background: radial-gradient(ellipse at center, rgb(205, 222, 255) 40%,  rgb(100, 174, 249) 100%, rgba(2,0,36,1) 100%); 
   
}

.event-showcase-article-new a{
    padding: 3rem;
    max-height: inherit;

    display: flex;
    align-items: stretch;

    background-color: rgb(127, 187, 255);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top-right-radius: 0;
    width: 100%;
    color:aliceblue;
    background-image: url("../images/downarrow.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: 0.5s;
    
}

.event-thumbnail-display-new {
    max-height: 10rem !important;
    width: 100%;

    object-fit: cover;
    vertical-align: center;
    flex:1;
    border-top-left-radius: inherit;
    border-bottom-left-radius: 0;
    border-top-right-radius: inherit;
   
}

.event-sneak-peek-new{
    
   padding: 1rem ;
}

.event-title-new {
    margin-bottom: 1rem;
}

@media (max-width:720px) {

    .event-article-container {
        display: grid;
        column-gap: 10vw;
        grid-auto-rows: auto;
        row-gap: 3.6rem;
  
        grid-template-columns: 1fr;
        align-self: center;
        color:rgb(0,0,63);
        margin-bottom: 6rem;
        align-items: center;
      
    }
    .upcoming-events-new-section {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .event-showcase-article-new {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .event-article-container article:nth-of-type(even){
        margin-top: 0;
        margin-bottom: 0;
       
    }
    .event-article-container article:nth-of-type(odd){
        margin-bottom: 0;
        margin-top: 0;
    }
    .event-short-description-new {
        max-height: 4rem;
        overflow:hidden;
        text-overflow: ellipsis;
        line-clamp: 5;
    }
    
}